:root {
  --color-black: #212121;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
  --color-innative-btn: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

body {
  background-color: var(--color-white);
  color: var(--color-grey);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: var(--color-black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--color-blue);
}

.list {
  list-style: none;
}

@media screen and (max-width: 479px) {
  .employer-img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container__header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__list {
  font-weight: 500;
  align-items: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.active {
  padding-bottom: 33px;
  color: var(--color-blue);
  position: relative;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--color-blue);
  display: inline-block;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.head-border {
  border-bottom: 1px solid #ececec;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-black);
  margin-right: 93px;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.logo__primary-color {
  color: var(--color-blue);
}

.logo__footer {
  color: var(--color-white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  font-style: normal;
}

.contact__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: block;
    justify-content: flex-start;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
  fill: var(--color-blue);
}

@media screen and (max-width: 1199px) {
  .contact__item {
    font-size: 12px;
    font-weight: 1.16;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    font-size: 14px;
    padding: 0;
  }
  .contact__item:not(:last-child) {
    margin-right: 40px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .hero-container {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    width: 700px;
  }
}

.hero-title {
  margin: 0;
  justify-content: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

@media screen and (min-width: 1170px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-section {
  background-color: #c4c4c4;
  display: block;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hero-section {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bg-image/bg-mobile/banner.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bg-image/bg-tablet/banner.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bg-image/bg-desktop/banner.jpg");
  }
}

.order-btn {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:focus, .order-btn:hover {
  color: var(--color-black);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.feature-section__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .feature-section__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-section__container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.feature__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .feature__list {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    width: 768px;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    margin: 0;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .feature__container:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__container {
    margin-bottom: 30px;
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__container {
    margin: 0;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.feature__item {
  justify-content: center;
  align-items: center;
  height: 120px;
  display: flex;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .feature__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}

.feature__title {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 10px;
  padding-top: 30px;
}

@media screen and (min-width: 480px) {
  .feature__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: start;
  }
}

.feature__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages {
  display: none;
}

@media screen and (min-width: 1200px) {
  .advantages {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.advantages-title {
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  font-size: 36px;
  margin: auto;
  margin-bottom: 50px;
}

.advantages-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.advantages-text {
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  display: block;
  position: absolute;
  height: 70px;
  width: 370px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-container {
  margin-left: auto;
  margin-right: auto;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-section__title {
  margin: auto;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-section__list {
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .team-section__list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__list {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: nowrap;
    margin-left: -45px;
  }
}

.team-section__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team-section__card {
    width: 450px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-section__card {
    width: 354px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1170px) {
  .team-section__card {
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.employer-name {
  color: var(--color-black);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.employer-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.employer-card {
  padding: 30px 32px;
  background-color: #fff;
}

.footer__section {
  background-color: #2f303a;
}

.footer__flex {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    flex-wrap: nowrap;
    text-align: start;
    align-items: baseline;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1200px;
  }
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white);
  margin-bottom: 9px;
}

.adress__margin {
  margin-bottom: 9px;
}

.link__footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__footer:hover, .link__footer:focus {
  color: var(--color-blue);
}

@media screen and (min-width: 480px) {
  .footer-form__container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__container {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    margin: 0;
    margin-left: 93px;
  }
}

.footer-form__input {
  background-color: transparent;
  color: var(--color-white);
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1170px) {
  .footer-form__input {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
  }
}

.footer-form__btn {
  fill: white;
  cursor: pointer;
  margin-left: 12px;
  height: 50px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer-form__btn:hover, .footer-form__btn:focus {
  fill: var(--color-blue);
  color: var(--color-blue);
  background-color: var(--color-innative-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin: 0;
    margin-left: 12px;
  }
}

.footer-form__title {
  text-transform: uppercase;
  display: flex;
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .footer-form__list {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__list {
    margin-top: 0px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 480px) {
  .footer__contact-info {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact-info {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__flex {
    display: flex;
  }
}

.selectors__btn {
  background-color: var(--color-innative-btn);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--color-black);
  font-family: Roboto;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selectors__btn:hover, .selectors__btn:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.selectors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .selectors {
    width: 480px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .selectors {
    width: 768px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .selectors {
    width: 1200px;
    padding-bottom: 50px;
    padding-top: 94px;
  }
}

.selectors__list {
  list-style: none;
  margin-top: 15px;
}

.selectors__list:not(:last-child) {
  margin-right: 8px;
}

.gallery__title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.gallery__text {
  color: var(--color-grey);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .portfolio-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    width: 1200px;
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery__item {
  display: block;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery__item:hover, .gallery__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}

.gallery__title {
  margin-bottom: 4px;
}

.gallery__about {
  overflow-y: hidden;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__overlay {
  position: relative;
  overflow: hidden;
}

.gallery__link {
  display: block;
}

.gallery__link:hover .gallery__about,
.gallery__link:focus .gallery__about {
  transform: translateY(0%);
}

.gallery__card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.social-link__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__link:hover, .social-link__link:focus {
  background-color: var(--color-blue);
}

.social-link__link:hover .social-link__image-footer,
.social-link__link:focus .social-link__image-footer {
  fill: var(--color-white);
}

.social-link__link:hover .social-list__image,
.social-link__link:focus .social-list__image {
  fill: var(--color-white);
}

.social-link__list {
  justify-content: center;
  display: flex;
  margin-top: 16px;
}

@media screen and (min-width: 1170px) {
  .social-link__list {
    justify-content: space-between;
  }
}

.social-list__image {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-social__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link__image-footer {
  fill: #fff;
}

.our-social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1170px) {
  .our-social__list {
    padding: 0;
    justify-content: start;
  }
}

.our-social__item {
  padding-right: 10px;
}

.our-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section {
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .clients-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.clients__title {
  font-size: 28px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 479px) {
  .clients__list {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
    justify-content: start;
    margin-left: -15px;
  }
}

.clients__item {
  margin-top: 50px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    margin: 15px;
  }
}

.clients__item .clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  padding: auto;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--color-blue);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-window__close-btn-border {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal-window__close-btn-border:hover .modal-window__close-btn,
.modal-window__close-btn-border:focus .modal-window__close-btn {
  fill: var(--color-blue);
}

.modal-window__close-btn {
  fill: black;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  margin-bottom: 12px;
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-grey);
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  padding-top: 4px;
}

.modal-form__input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--color-blue);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--color-blue);
}

.modal-form__input:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.modal-form__input:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--color-black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
  font-size: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 8px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--color-blue);
}

.modal-form__message::placeholder {
  color: var(--color-grey);
  opacity: 50%;
}

.modal-form__policy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.modal-form__policy-label::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-form__policy-label .modal-form__icon-checkbox {
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  display: block;
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__policy-link {
  color: var(--color-blue);
}

.modal-form__checkbox-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.modal-form__checkbox:checked ~ .modal-form__policy-label::before {
  background-color: var(--color-blue);
}

.modal-form__checkbox:focus ~ .modal-form__policy-label::before {
  outline: 2px solid blue;
}

.modal-form__btn {
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:focus, .modal-form__btn:hover {
  color: var(--color-black);
  background-color: lightblue;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */