.footer__section {
  background-color: #2f303a;
}

.footer__flex {
  text-align: center;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    text-align: start;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white);
  margin-bottom: 9px;
}

.adress__margin {
  margin-bottom: 9px;
}

.link__footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-blue);
  }
}

.footer-form__container {
  @media screen and (min-width: 480px) {
    justify-content: space-around;
  }

  @media screen and (min-width: 768px) {
    margin: auto;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-left: 93px;
  }
}

.footer-form__input {
  background-color: transparent;
  color: var(--color-white);
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1170px) {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
  }
}

.footer-form__btn {
  fill: white;
  cursor: pointer;
  margin-left: 12px;
  height: 50px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--color-blue);
    color: var(--color-blue);
    background-color: var(--color-innative-btn);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    // margin: 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-left: 12px;
  }
}

.footer-form__title {
  text-transform: uppercase;
  display: flex;
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--color-white);
}
.footer-form__list {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    // margin-left: 165px;
    // text-align: baseline;
    // margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-left: 70px;
  }
}
.footer__contact-info {
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    // margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}
.footer-form__flex {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
