.gallery__title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.gallery__text {
  color: var(--color-grey);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery__item {
  display: block;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color: transparent;
  }
}

.gallery__title {
  margin-bottom: 4px;
}

.gallery__about {
  overflow-y: hidden;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__overlay {
  position: relative;
  overflow: hidden;
}

.gallery__link {
  display: block;
  &:hover .gallery__about,
  &:focus .gallery__about {
    transform: translateY(0%);
  }
}

.gallery__card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
