.contact__list {
  display: none;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: block;
    justify-content: flex-start;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact__item {
  &:hover .contact__icon,
  &:focus .contact__icon {
    fill: var(--color-blue);
  }
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    font-weight: 1.16;
    padding-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 40px;
    }
    padding: 0;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  font-weight: 500;
  color: var(--color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
