.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-black);
  margin-right: 93px;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.logo__primary-color {
  color: var(--color-blue);
}

.logo__footer {
  color: var(--color-white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  font-style: normal;
}
